.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
}

.dropdown-menu ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.Header {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}
.Header button{
  border: none;
  background-color: #fff;
}
.Contact-info{
  position:relative;
  padding: 35px;
  
}
.searchPart{
  padding: 30px;
  display:grid;
  width: 800px;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  column-gap: 20px;
}
.search-button{
  background-color: #4681f4;
  color:white;
  width: 100px;
  border-color: #4681f4;
}